:root {
  color-scheme: light dark;
  font-family: system-ui, sans-serif;
}

#palette {
  /* display: flex; */
  /* flex-direction: row; */
  justify-content: center;
  align-content: center;
  gap: 2rem;
  /* display: grid; */
  grid-template-columns: repeat(5, auto);
}

.colour {
  /* display: grid; */
  /* grid-column: 1 / -1; */
  /* grid-template-columns: subgrid; */
}

/* .variant, */
.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.well {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  border: thin solid currentColor;
  box-shadow: .2rem .2rem 0 0 currentColor;
  appearance: none;
  padding: 0;
  background-color: var(--colour);
  overflow: hidden;
}

.well-inner {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  margin: 0;
  background-color: inherit;
  opacity: var(--anomaly, 1);
}

.well::-moz-color-swatch {
  border-color: transparent !important;
  border: none !important;
}

.protan .well-inner {
  filter: url(./filters.svg#protanopia);
}

.deutan .well-inner {
  filter: url(./filters.svg#deuteranopia);
}

.tritan .well-inner {
  filter: url(./filters.svg#tritanopia);
}

.mono .well-inner {
  filter: grayscale(1);
}

table.sim {
  table-layout: fixed;
  border-collapse: collapse;
}

.sim thead th {
  width: 20%;
  text-align: center;
  position: sticky;
  padding: .5em .1em;
  top: 0;
  z-index: 1;
  background-color: Canvas;
}

.sim td,
.sim th {
  text-align: center;
  padding: .1rem .7rem .1rem .5rem;
}

tbody th {
  text-align: left;
}

.anomaly-label {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: start;
  gap: .1rem .5rem;

  .span {
    grid-column: 1 / -1;
    justify-self: center
  }
}
}